process {
    executor = 'slurm'
    queue = 'shortq'

    withLabel: 'preprocess' {
        cpus = 4
        memory = 16.GB
    }

    withLabel: 'feature_extraction' {
        // queue = 'gpu'
        // clusterOptions = '--qos gpu --gres gpu:h100pcie:1'
        // clusterOptions = '--qos gpu --gres gpu:l4_gpu:1'
        cpus = 16
        memory = 64.GB
    }

    withLabel: 'aggregation' {
        cpus = 2
        memory = 64.GB
    }

}